<div style="margin: 12px; background-color: #fff; padding: 12px">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form
      [model]="model"
      [fields]="fields"
      [options]="{
        formState: {
          templateRefs: {
            btnRef: btnRef,
            search: search,
            renderTpl: renderTpl
          }
        }
      }"
      [form]="form"
    ></formly-form>
    <button nz-button nzType="primary" type="submit">Submit</button>
  </form>
</div>

<ng-template #btnRef>
  <div style="line-height: 32px; margin-left: 10px"><a>新增</a></div>
</ng-template>

<ng-template #search>
  <i nz-icon nzType="search"></i>
</ng-template>

<ng-template #renderTpl let-option let-index="index"
  >{{ index + 1 }}. {{ option.label }}</ng-template
>
