<div style="padding: 12px">
  <lib-table
    [nzColumns]="columns"
    [nzData]="data"
    [nzTemplateRefs]="{ test: test, action: action }"
    [nzScroll]="{ x: '120%' }"
    nzRowKey="id"
    [nzRowSelection]="nzRowSelection"
    [nzTitle]="'表格标题2'"
    [nzHeader]="header"
  ></lib-table>

  <ng-template #test> fdafafaf </ng-template>
  <ng-template #action let-record let-index="index">
    <button (click)="onTest(record, index)">flkdajflkjaf</button>
  </ng-template>
</div>

<ng-template #header> fdlakfj </ng-template>
