<!-- <div style="padding: 12px">
  <lib-table
    #myTable
    [nzColumns]="columns"
    [nzData]="data"
    [nzTemplateRefs]="{ test: test, action: action }"
    [nzScroll]="{ x: '120%' }"
    [nzRowSelection]="{
      selectedRowKeys: selectedRowKeys,
      onChange: onSelectChange
    }"
    [nzTitle]="'表格标题2'"
    [nzHeader]="header"
  ></lib-table>

  <ng-template #test> fdafafaf </ng-template>
  <ng-template #action let-record let-index="index"> </ng-template>
  <ng-template #header>
    <button nz-button nzType="primary" (click)="onClear()">清空勾选</button>
  </ng-template>
</div> -->

<!-- <div style="padding: 12px">
  <lib-table
    #myTable2
    [nzColumns]="columns"
    [nzData]="data2"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzScroll]="{ x: '120%' }"
    [nzTotal]="total"
    [nzTitle]="'表格标题2'"
    (nzQueryParams)="onQueryParamsChange($event)"
  ></lib-table>
</div> -->

<div style="padding: 12px">
  <lib-table
    #myTable3
    [nzColumns]="columns"
    [nzScroll]="{ x: '120%' }"
    [nzTitle]="'表格标题3'"
    [nzQueryList]="queryList"
  ></lib-table>
</div>
