<div style="padding: 12px">
  <lib-table
    #tableRef
    [columns]="columns"
    [title]="'前端分页'"
    [queryList]="queryListFront"
    [scroll]="{ x: '120%' }"
    [frontPagination]="true"
    [templateRefs]="{ actionRef: actionRef }"
    [header]="header"
    [rowSelection]="{
      selectedRowKeys: selectedRowKeys,
      onChange: onSelectChange
    }"
  >
  </lib-table>
</div>
<ng-template #header>
  <button nz-button nzType="primary" (click)="onClear()">清空勾选</button>
</ng-template>
<ng-template
  #actionRef
  let-dataIndex="dataIndex"
  let-record="record"
  let-index="index"
  let-text="text"
>
  <a (click)="onTest(dataIndex, record, index, text)">测试</a>
</ng-template>

<div style="padding: 12px">
  <lib-table
    #myTable3
    [columns]="columns"
    [scroll]="{ x: '120%' }"
    [title]="'后端分页'"
    [queryList]="queryList"
  ></lib-table>
</div>
